# OS / junk
.DS_Store
Thumbs.db

venv

# OS
.DS_Store
Thumbs.db

# Logs
*.log


# --- Backend (Python/Flask) ---
backend/__pycache__/
backend/**/*.pyc
backend/.venv/
backend/venv/
backend/instance/
backend/users.db/

# Python
*.pyc
*.pyo
*.pyd


# Database
backend/*.db
backend/*.db-journal
backend/*.db-shm
backend/*.db-wal


# SQLite
*.sqlite3


# ENV (do NOT commit secrets)
backend/.env
backend/.env.*
!backend/.env.example

# --- Frontend (Vue/Vite) ---
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.vite/
_draft



# ENV (do NOT commit secrets/local configs)
frontend/.env
frontend/.env.*
frontend/.env.production   # فقط اگر مطمئنی هیچ secret داخلش نیست
frontend/.env.development  # (اختیاری) اگر دوست داری کانفیگ dev مشترک باشه

!frontend/.env.example
!frontend/.env.development.example
!frontend/.env.production.example

# Editor
.vscode/
.idea/


# Jupyter
.ipynb_checkpoints/
.jupyter/

# Vim swap files
*.swp
*.swo
*.swn

# VSCode
.vscode/
